Django==4.2.23
gunicorn==21.2.0

# DB
psycopg2-binary==2.9.11

# Images
Pillow==10.3.0

# Forms / UI
django-bootstrap4==25.3
django-filter==25.2
django-taggit==6.1.0

# Env
python-dotenv==1.0.1

# Payments / API
stripe==12.4.0
requests==2.32.4
